<div class="container">
    <div class="row">

        <%= form_for [@user, @tool], url: user_tool_path, html: {id: 'edit-tool-form', method: 'patch'} do |f| %>
        <div class="col-xs-12 col-sm-10 col-md-8">
            <div class="row">
                <div class="col-xs-12">
                    <%= f.text_field :name, class: 'tool-new-title tool-input', placeholder: 'Name', autofocus: true do %>
                    <%= @tool.name %>
                    <% end %>
                    <% if @tool.errors[:name].size > 0 %>
                        <div class="error-div">
                            <ul>
                                <% @tool.errors[:name].each do |error| %>
                                    <li><%= error %></li>
                                <% end %>
                            </ul>
                        </div>
                    <% else %>
                        <div class="error-div" style="display: none">
                            <ul>
                            </ul>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <%= f.text_field :website, class: 'tool-new-web tool-input', value: @tool.website, placeholder: 'Website or Repository' %>
                    <% if @tool.errors[:website].size > 0 %>
                        <div class="error-div">
                            <ul>
                                <% @tool.errors[:website].each do |error| %>
                                    <li><%= error %></li>
                                <% end %>
                            </ul>
                        </div>
                    <% else %>
                        <div class="error-div" style="display: none">
                            <ul>
                            </ul>
                        </div>
                    <% end %>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <%=f.text_area :description, rows: 5, value: @tool.description  ,class: 'tool-new-area tool-input', placeholder: 'Description...' %>
                    <% if @tool.errors[:description].size > 0 %>
                        <div class="error-div">
                            <ul>
                                <% @tool.errors[:description].each do |error| %>
                                    <li><%= error %></li>
                                <% end %>
                            </ul>
                        </div>
                    <% else %>
                        <div class="error-div" style="display: none">
                            <ul>
                            </ul>
                        </div>
                    <% end %>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="new-rain">
                        <ul id="l-ul" class="new-ul">
                            <%= f.fields_for :languages do |lf| %>

                                <li class="input-lpu" style="border: none; padding: 0; ">
                                    <%= lf.text_field :name, class: 'new-lpu-input', placeholder: 'Languages',  autocomplete: 'off' %>
                                </li>

                                <% @tool.languages.each do |language| %>
                                    <li class="token-li" style="margin-right: 5px">
                                        <p class="lpu-token"><%= language.name.html_safe %></p>
                                        <%= lf.hidden_field :names, value: language.name, name: "tool[languages][names][#{language.name}]" %>
                                    </li>
                                <% end %>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="new-rain">
                        <ul id="p-ul" class="new-ul">
                            <%= f.fields_for :platforms do |pf| %>

                                <li class="input-lpu" style="border: none; padding: 0; ">
                                    <%= pf.text_field :name, class: 'new-lpu-input', placeholder: 'Platforms', autocomplete: 'off' %>
                                </li>

                                <% @tool.platforms.each do |platform| %>
                                    <li class="token-li" style="margin-right: 5px">
                                        <p class="lpu-token"><%= platform.name.html_safe %></p>
                                        <%= pf.hidden_field :names,  value: platform.name, name: "tool[platforms][names][#{platform.name}]" %>
                                    </li>
                                <% end %>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="new-rain">
                        <ul id="u-ul" class="new-ul">
                            <%= f.fields_for :uses do |uf| %>

                                <li class="input-lpu" style="border: none; padding: 0; ">
                                    <%= uf.text_field :name, class: 'new-lpu-input', placeholder: 'Uses', autocomplete: 'off' %>
                                </li>

                                <% @tool.uses.each do |use| %>
                                    <li class="token-li" style="margin-right: 5px">
                                        <p class="lpu-token"><%= use.name.html_safe %></p>
                                        <%= uf.hidden_field :names, value: use.name, name: "tool[uses][names][#{use.name}]"%>
                                    </li>
                                <% end %>
                            <% end %>
                        </ul>
                    </div>


                    <% if @tool.errors[:lpu].size > 0 %>
                        <div class="error-div">
                            <ul>
                                <% @tool.errors[:lpu].each do |error| %>
                                    <li><%= error %></li>
                                <% end %>
                            </ul>
                        </div>
                    <% else %>
                        <div class="error-div" style="display: none">
                            <ul>
                            </ul>
                        </div>
                    <% end %>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4">
                    <%= f.submit 'Save Changes', class: 'tool-submit-b text-left' %>
                </div>

                <div class="col-xs-4 col-xs-offset-4 text-right">
                    <%= link_to 'Cancel' ,user_path(@tool.user), class: 'tool-submit-b text-right', style: 'display: block; padding: 0 6px' %>
                </div>
            </div>

            <% end %>

        </div>
    </div>
</div>


<!--

	Add  char count to description
	Ajax Verify
	AJax auto fill
 -->