<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 tool-info-section">

            <div class="row underline-alive" style="border-width: 0px 0px 1px 0px; margin: 0">
                <div class="col-xs-9" style="padding-left: 0">
                    <h1 class="title" style="z-index: 1000; margin: 0;"> <%= @tool.name %></h1>
                </div>

                <% if is_following? @tool %> <!-- user is following -->
                    <div class="col-xs-3 text-right form-div" style="padding-right: 0">
                        <%= form_for [@tool, get_relationship(@tool)], method: 'DELETE', html: {id: "relationship-form-#{@tool.id}", class: 'relation-from'} do |f| %>
                            <%= f.submit 'Unfollow', class: 'unfollow-button unfollow-b-form' %>
                        <% end %>
                    </div>
                <% else %>
                    <div class="col-xs-3 text-right form-div" style="padding-right: 0">
                        <%= form_for [@tool, Relationship.new], html: {id: "relationship-form-#{@tool.id}", class: 'relation-from'} do |f| %>
                            <div class="follow-main">
                                <%= f.submit 'Follow', class: 'follow-button follow-b-form' %>
                                <div class="follow-hover-div">
                                    <p>Follow to get notifications</p>
                                </div>
                            </div>
                        <% end %>
                    </div>
                <% end %>
            </div>

            <div class="row">
                <div class="col-xs-6 text-left col-overflow-x">
                    <%= link_to @tool.website, @tool.website, class: 'main-font undecorated-link', style: 'font-size: 12pt;' %>
                </div>
                <div class="col-xs-3 col-sm-2 col-sm-offset-2 col-md-2 col-md-offset-2 col-overflow-x">
                    <div class="tool-like-div text-left like-div main-font" style="color: #b3c4c4;">
                        <% if likes_tool @tool %>
                            <%= form_for [@tool, get_like(@tool)], method: 'DELETE', html: {id: "like-form-#{@tool.id}", class: 'like-from'} do |f| %>
                                <%= image_tag 'liked_icon.png', class: 'like-image', 'data-likes' => '1' %>
                                <%= @tool.likes.count %>
                            <% end %>

                        <% else %>
                            <%= form_for [@tool, Like.new], html: {id: "like-form-#{@tool.id}", class: 'like-from'} do |f| %>
                                <%= image_tag 'like_icon.png', class: 'like-image', 'data-likes' => '0' %>
                                <%= @tool.likes.count %>
                            <% end %>
                        <% end %>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-2 col-md-2 col-overflow-x">
                    <div class="tool-like-div text-left">
                        <%= image_tag 'comment_icon.png', class: 'comment-image', style: 'margin: 0px 0 0 ' %>
                        <p class="main-font count" style="display: inline">2421</p>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12">
                    <p class="main-font text-info text-justify" style="margin: 5px 0 0 0; font-size: 13pt">
                        <%= @tool.description %>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-8">
                    <p class="title-2-dead " style="font-size: 10pt">submitted
                        by <%= link_to @tool.user.username, user_path(@tool.user), class: 'title-2-dead undecorated-link' %></p>
                </div>

                <div class="col-xs-4 text-right">
                    <%= link_to 'Report', '#', class: 'main-font undecorated-link title-2-dead', style: 'color: #cb4b16; font-size: 7pt' %>

                    <% link_to(image_tag('flag.png', class: 'report-flag'), '#') %>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 tool-info-section">
            <div class="row text-center">
                <div class="col-xs-12 col-sm-4">
                    <%= render partial: 'lput_section', locals: {lpu_title: 'Languages', lpu_array: @tool.languages} %>

                </div>

                <div class="col-xs-12 col-sm-4">
                    <%= render partial: 'lput_section', locals: {lpu_title: 'Platforms', lpu_array: @tool.platforms} %>

                </div>

                <div class="col-xs-12 col-sm-4">
                    <%= render partial: 'lput_section', locals: {lpu_title: 'Uses', lpu_array: @tool.uses} %>

                </div>

            </div>

        </div>
    </div>



    <div id="comment-index">


    </div>



</div>