<div class="container">

    <div class="row">
        <div class="col-xs-12 text-center">
            <h1 class="title" style="font-size: 40pt; margin-bottom: 0px;">Devrag</h1>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 text-center">
            <%= form_for(:session, url: sessions_path) do |f| %>

            <div class="login-section" style="margin-top: 100px">

                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert-danger main-font" style="background-color: transparent; font-size: 13px">
                            <%= flash[:danger] %>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <%= f.text_field :username, class: 'form-input fill-width main-font login-form',
                                         placeholder: 'Username' %>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <%= f.password_field :password, class: 'form-input fill-width main-font login-form',
                                             placeholder: 'Password',  style: 'margin-top: 20px' %>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-xs-offset-6 text-right">
                        <%= link_to 'Forgot', '#', style: 'font-size: 12px', class: 'main-font undecorated-link-w' %>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <%= f.submit 'Login', class: 'login-button undecorated-link-w',
                                     style: 'margin-top: 15px; width: 100%; font-size: 16px;' %>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="break-line center" style="top: 65%; margin-top: 15px; width: 95%; "></div>

                    </div>
                </div>
            </div>

            <% end %>


        </div>
    </div>
</div>