<div class="container">

    <div class="row">
        <div class="col-xs-12 text-center">
            <h1 class="title" style="font-size: 40pt; margin-bottom: 0px;">Devrag</h1>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 text-center">
            <%= form_for(:session, url: sessions_path) do |f| %>

            <div class="login-section" style="margin-top: 100px">

                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert-danger main-font" style="background-color: transparent; font-size: 13px">
                            <%= flash[:danger] %>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <%= f.text_field :identity, class: 'form-input fill-width main-font login-form',
                                         placeholder: 'Username or Email', autocomplete: 'off' %>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <%= f.password_field :password, class: 'form-input fill-width main-font login-form',
                                             placeholder: 'Password',  style: 'margin-top: 20px', autocomplete: 'off' %>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6 text-left">
                        <%= link_to 'Sign up', new_user_path, style: 'font-size: 12px;', class: 'main-font for-link undecorated-link-w' %>
                    </div>
                    <div class="col-xs-6 text-right">
                        <%= link_to 'Forgot', new_reset_password_path, style: 'font-size: 12px;', class: 'main-font for-link undecorated-link-w' %>
                    </div>


                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <%= f.submit 'Login', class: 'login-button undecorated-link-w',
                                     style: 'margin-top: 15px; width: 100%; font-size: 16px;' %>
                    </div>
                </div>

            <% end %>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="break-line center" style="top: 0; margin-top: 15px; width: 95%; "></div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12" style="margin-top: 30px">
                        <%= link_to 'Github', github_signup_path, class: 'signup-b-2 text-right', style: "background-image: url(#{image_url("github.png")})" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
