<div class="row" style="margin: 40px -15px 20px">
    <div class="col-xs-12 will-pag">
        <%= will_paginate comments, :previous_label => '←', :next_label => '→', :outer_window => 1, :inner_window => 2 %>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 ">
        <div id="comsec" class="comments-section">
            <div id="add-comment-section">
                <div class="row">
                    <div class="col-xs-12">
                        <%= form_for [tool, Comment.new], html: {id: 'new-comment-form', class: 'comment-form'} do |f| %>
                            <div class="row">
                                <div class="col-xs-9 ">

                                </div>
                                <div class="col-xs-3">
                                    <%= image_tag 'add_button2.png', id: 'comment-addr', class: 'comment-add-cl-t' %>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 com-code-area">
                                    <div class="code-parent">

                                    </div>

                                    <%= f.text_area :comment, rows: 6, class: 'comment-area main-font', placeholder: 'Add Comment.....', id: "comment-area-#{tool.id}" %>

                                    <div class="error-div" style="display: none; margin: 5px 35px; width: 89%">
                                        <ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
                <div class="row" style="margin-top: 15px;">
                    <div class="col-xs-9">
                        <h4 class="title" style="color: #93a1a1; margin-left: 10px">Comments</h4>
                    </div>
                    <div class="col-xs-3">

                    </div>
                </div>

                <div id="ajax-comments">
                    <%= display_comments(comments).html_safe %>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row" style="margin: 20px -15px">
    <div class="col-xs-12 will-pag">
        <%= will_paginate comments, :previous_label => '←', :next_label => '→', :outer_window => 1, :inner_window => 2 %>

    </div>
</div>
