<div class="row comment-box" style="margin-top: 15px">
    <div class="col-xs-12 main-parent">
        <p class="title-2-dead" style="font-size: 8pt; margin-bottom: 0px;">
            <%= link_to comment.user.username, user_path(comment.user), class: 'main-font comment-user' %>
            <%= time_ago_in_words(comment.created_at) %>
        </p>

        <div class="row">
            <div class="col-xs-12">
                <div class="user-comment main-font text-justify">
                    <%= comment.comment.html_safe %>
                </div>
            </div>
        </div>

        <div class="row" style="margin: 2px 0 0px 0px">
            <div class="col-xs-2">
                <%= button_tag 'Reply', class: 'main-font title-2-dead comment-options reply-b', 'data-user' => 'username' %>
            </div>
        </div>


        <div class="reply-area" style="display: none">
            <%= form_for [comment.tool, Comment.new], url: tool_replies_path(comment.tool.id), html: {class: 'reply-form'} do |f| %>
                <%= f.hidden_field :comment_id, value: comment.id %>
                <div class="row">
                    <div class="col-xs-3">
                        <%= image_tag 'add_button2.png', class: 'comment-add-cl-t reply-add-img', style: 'margin: 5px 0px 0 35px; float: left' %>
                        <%= image_tag 'remove_button.png', class: 'comment-add-cl-t reply-rem-img', style: 'margin: 5px; float: left' %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 com-code-area">
                        <div class="code-parent">

                        </div>
                        <%= f.text_area :comment, rows: 6, class: 'comment-area main-font ', id: "reply-area-#{comment.id}" %>
                        <div class="error-div" style="display: none; margin: 5px 35px; width: 89%">
                            <ul>
                            </ul>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>

        <% if comment.replies.length > 0 %>
            <div class="replies-area">
                <div class="rdivs" style="max-height: 0px; overflow: hidden; padding: 0">
                    <% comment.replies.each do |reply| %>

                        <%= link_to tool_reply_path(id: reply.id), class: 'replies-div' do %>

                            <p class="title-2-dead text-right" style="font-size: 8pt; margin-bottom: 0px;">
                                <%= reply.user.username %>
                                <%= time_ago_in_words(reply.created_at) %>
                            </p>

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="reply-comment main-font text-justify" style="font-size: 10px">
                                        <%= reply.comment.html_safe %>
                                    </div>
                                </div>
                            </div>

                        <% end %>
                    <% end %>
                </div>
                <div class=" underline-dead text-center" style="height: 25px; background-color: white; border-width: 1px 0 0; margin-top: 10px;">
                    <%= image_tag 'dropdown.png', class: 'down-arror reply-arror', 'data-open' => '0' %>
                </div>
            </div>
        <% end %>


    </div>
</div>