

<div class="row" style="margin: 40px -15px 20px">
    <div class="col-xs-12 will-pag">
        <%= will_paginate tool_comments, :previous_label => '←', :next_label => '→', :outer_window => 1, :inner_window => 2 %>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 ">
        <div id="comsec" class="comments-section">
            <div id="add-comment-section" style="margin-top: -165px">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-9 ">
                                <h4 class="title" style="font-size:12pt; margin-left: 10px">CurrentUser</h4>
                            </div>

                            <div class="col-xs-3">
                                <%= image_tag 'remove_button.png', id: 'comment-addc', class: 'comment-add-cl-t' %>
                                <%= image_tag 'add_button2.png', id: 'comment-addr', class: 'comment-add-cl-t' %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <%= text_area :post, :body, rows: 4, class: 'comment-area main-font ', placeholder: 'Add Comment.....', id: 'comment-ta' %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 15px;">
                    <div class="col-xs-9">
                        <h4 class="title" style="color: #93a1a1; margin-left: 10px">Comments</h4>
                    </div>
                    <div class="col-xs-3">
                        <%= image_tag 'add_button2.png', id: 'comment-addo', class: 'comment-add-cl' %>
                    </div>
                </div>

                <div id="ajax-comments">
                    <%= display_comments(tool_comments).html_safe %>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row" style="margin: 20px -15px">
    <div class="col-xs-12 will-pag">
        <%= will_paginate tool_comments, :previous_label => '←', :next_label => '→', :outer_window => 1, :inner_window => 2 %>

    </div>
</div>