<div class="row">
  <div class="col-xs-3 text-right">
    <%= image_tag notification.from_action.user.avatar.url(:medium), class: 'noti-profile-img' %>
  </div>

  <div class="col-xs-7 text-left" style="padding-left: 15px">
    <div class="row">
       <div class="col-xs-12">
           <h4 class="username main-font"><%= notification.from_action.user.username %></h4>
       </div>
   </div>

   <div class="row">
       <div class="col-xs-12">
           <p class="main-font text-info text-left info-p">
               Replied to your comment on
               <span class="span-yes"><%= notification.from_action.tool.name %></span>
           </p>
       </div>
  </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="user-comment main-font text-justify">
            <%= notification.from_action.remove_empty.html_safe %>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
      <div class="text-left" style="display: inline-block; width: 49%">
        <%= link_to 'Reply', tool_url(notification.from_action.tool_id, moveComment: 'true', conversation: notification.from_action.id), class: 'main-font title-2-dead comment-options', style: 'margin-left: 10px' %>
      </div>

      <div class="text-right" style="display: inline-block; width: 49%">
          <%= image_tag 'comment_icon.png', class: 'noti-sm-icon' %>
          <div class="noti-date main-font" style="display: inline-block">
              <%= notification.created_at.strftime("%B %d, %Y") %>
          </div>
      </div>
    </div>
</div>
