
<div class="row">
    <div class="col-xs-12">

        <div class="row">
            <div class="col-xs-4">
                <%= image_tag 'code_icon.png', class: 'noti-profile-img' %>
            </div>
            <div class="col-xs-8">
                <div class="row">
                    <div class="col-xs-12">
                        <h4 class="username main-font"><%= notification.from_action.tool.name %></h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <p class="main-font text-info text-left info-p">
                            Has notified there followers
                        </p>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="user-comment main-font text-justify">
            <%= notification.from_action.description %>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 text-right">
        <div class="noti-date main-font">
            <%= image_tag 'comment_icon.png', class: 'noti-sm-icon' %>
            <%= notification.created_at.strftime("%B %d, %Y") %>
        </div>
    </div>

</div>