
<!--
    User Picture
    Small title eg username comment on your tool // username replay to a comment you made
    first couple of words in the comment
    Comment Icon
    Date and time
-->

<div class="noti-container">

    <%= link_to user_path(12), class: 'undecorated-link-w noti-link' do %>
        <%= image_tag 'profile_img.jpg', class: 'noti-profile-img' %>
    <% end %>

    <%= link_to '#', class: 'undecorated-link-w noti-link ', style: 'width: 200px;' do %>
        <div class="noti-p">
            <span class="span-no" style=" max-width: 60px; font-size: 12px;">SoAndS0asdjf;ldjf;asldkfjdfasdlkf</span>
            <% if notification == 'commentR' %>
                <span class="span-no" style="color: #93a1a1; max-width: 147px; font-size: 12px;">replied to comment </span>
            <% else %>
                <span class="span-no" style="color: #93a1a1; max-width: 147px; font-size: 12px;">wrote a comment </span>
            <% end %>
            <span class="span-yes" style="color: #93a1a1; max-width: 195px; font-size: 11px; font-weight: 200">
                This is were the comment of the person will go somewere here here here</span>
        </div>

        <%= image_tag 'comment_icon.png', class: 'noti-sm-icon' %>
        <div class="noti-date">
            November 15, 2015
        </div>
    <% end %>

    <%= image_tag 'remove_button.png', class: 'noti-cross' %>

</div>