<!--
    User picture that liked
    Small intro
    Like icon
    Date and time
-->
<li class="noti-li">
    <div class="noti-container">

        <%= link_to user_path(notification.from_action.user_id), class: 'undecorated-link-w noti-link' do %>
            <%= image_tag notification.from_action.user.avatar.url(:medium), class: 'noti-profile-img' %>
        <% end %>

        <%= link_to tool_path(notification.from_action.tool.id), class: 'undecorated-link-w noti-link ', style: 'width: 200px;' do %>
            <div class="noti-p">
                <span class="span-no"><%= notification.from_action.user.username %></span>
                <span class="span-no" style="color: #93a1a1">liked your tool</span>
                <span class="span-yes"><%= notification.from_action.tool.name %></span>
            </div>

            <%= image_tag 'like_icon.png', class: 'noti-sm-icon' %>
            <div class="noti-date">
                <%= notification.created_at.strftime("%B %d, %Y") %>
            </div>
        <% end %>

        <%= image_tag 'remove_button.png', class: 'noti-cross', 'data-href' => user_notification_path(user_id: notification.user_id, id: notification.id)  %>

    </div>

</li>