<!--
    Tool name
    Small intro
    First couple of word from the notificiation
    Date and time
-->
<li class="noti-li">
    <div class="noti-container">
        <%= link_to tool_path(notification.from_action.tool_id), class: 'undecorated-link-w noti-link' do %>

            <div class="noti-p" style="height: 14px">
                <span class="span-no" style=" max-width: 80px; font-size: 12px;"><%= notification.from_action.tool.name %></span>
                <span class="span-no" style="color: #93a1a1; max-width: 165px; font-size: 12px; font-weight: 200">has notified their followers</span>
            </div>

            <p class="noti-p-l">
                <%= notification.from_action.description %>
            </p>

            <%= image_tag 'code_icon.png', class: 'noti-sm-icon', style: 'width: 20px' %>
            <div class="noti-date">
                <%= notification.created_at.strftime("%B %d, %Y") %>
            </div>
        <% end %>

        <%= image_tag 'remove_button.png', class: 'noti-cross', 'data-href' => user_notification_path(user_id: notification.user_id, id: notification.id) %>
    </div>
</li>