<div id="uta" class="row uta-class" data-ani="0">
    <div class="col-xs-12 user-tool-area">
        <div class="row">
            <div class="col-xs-8 col-overflow-x">
                <%= link_to 'Some Name', tool_path(12), class: 'tool-name', style: 'font-size: 15pt;' %>
            </div>

            <div class="col-xs-4">
                    <button class="unfollow-button">Unfollow</button>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-8 col-overflow-x">
                <%= link_to 'www.website.com', '#', class: 'main-font undecorated-link' %>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-overflow-x">
                <p class="title-2-dead" style="font-size: 9pt; margin: 5px 0 0 0">submitted by <%= link_to 'username', user_path(12), class: 'title-2-dead undecorated-link' %></p>

            </div>
        </div>


        <div class="row">
            <div class="col-xs-3" style="padding-right: 0">
                <div class="main-font lcf-section col-overflow-x">
                    <%= image_tag 'like_icon.png', id: 'like-image' %>
                    123
                </div>
            </div>
            <div class="col-xs-3" style="padding-right: 0">
                <div class="main-font lcf-section col-overflow-x">
                    <%= image_tag 'comment_icon.png', id: 'comment-image' %>
                    12423
                </div>
            </div>

            <div class="col-xs-4" style="padding-right: 0">
                <div class="main-font lcf-section col-overflow-x">
                    <%= image_tag 'followers_icon.png', id: 'followers_icon' %>
                    1234
                </div>
            </div>
        </div>
    </div>
</div>

