<div class="row" style="margin-top: 40px">
    <div class="col-xs-8 col-sm-10 col-md-6">
        <h3 class="title"><%= tool.name %></h3>
    </div>

    <div class="col-xs-4 col-sm-2 col-md-2 text-right">
        <div class="follow-main">
            <%= image_tag 'remove_button.png', id: 'cancel-noti', class: 'comment-add-cl-t', style: 'margin-top: 30px' %>
            <%= image_tag 'add_button2.png', class: 'comment-add-cl-t', style: 'margin-top: 30px' %>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8">
        <%= form_for [tool, tool_notification], html: {id: 'noti_form'} do |f| %>
            <%= f.text_area :info, rows: 5, class: 'tool-new-area' %>
        <% end %>
    </div>
</div>
