<div id="uta" class="row tool-result-div uta-class" data-ani="0">

    <div class="col-xs-12" style="padding: 0">
        <div class="row">
            <div class="col-xs-6">
                <%= link_to 'Some Name', tool_path(12), class: 'tool-name' %>
            </div>

            <% if is_following? tool %> <!-- user is following -->
                <div class="col-xs-2 col-xs-offset-4 text-right">
                    <button class="unfollow-button">Unfollow</button>
                </div>
            <% else %>
                <div class="col-xs-2 col-xs-offset-4 text-right">
                    <div class="follow-main">
                        <button class="follow-button">Follow</button>
                        <div class="follow-hover-div">
                            <p>Follow to get notifications</p>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="row">
            <div class="col-xs-6 col-overflow-x">
                <%= link_to 'www.website.comsomereallylonglinktoawebsitethatisawebsiteofalinketoawebsitewebsitesarecoolldidyounkowthatdidudidudiudidufidufd', '#', class: 'main-font undecorated-link' %>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p class="main-font text-info" style="margin-bottom: 5px">This is were a description of the tool will
                    go.
                    It will describle
                    the tool with some words and letters ok just so you know what to use
                    when writing your descriptions. Use words and letters cause that is
                    how englishs works</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 col-sm-6">
                <p class="title-2-dead" style="font-size: 9pt; margin: 10px 0 0">submitted
                    by <%= link_to 'username', user_path(12), class: 'title-2-dead undecorated-link' %></p>
            </div>
            <div class="col-xs-3 col-sm-2 text-right" style="padding-left: 0">
                <div class="main-font lcf-section col-overflow-x">
                    <%= image_tag 'like_icon.png', id: 'like-image' %>
                    123
                </div>
            </div>
            <div class="col-xs-3 col-sm-2 text-right" style="padding-left: 0">
                <div class="main-font lcf-section col-overflow-x">
                    <%= image_tag 'comment_icon.png', id: 'comment-image' %>
                    12423
                </div>
            </div>


            <div class="col-xs-2 col-sm-2 text-right" style=" padding-left: 0 ">
                <div class="main-font lcf-section col-overflow-x">
                    <%= image_tag 'tool_options_icon.png', id: 'options-image', class: 'option-js' %>
                </div>
            </div>
        </div>

        <div class="row search-options-div" style="display: none">

            <%= render partial: 'lpuh_section', locals: {lpu_title: 'Languages', lpu_array: @tools_lpu} %>

            <%= render partial: 'lpuh_section', locals: {lpu_title: 'Platforms', lpu_array: @tools_lpu} %>

            <%= render partial: 'lpuh_section', locals: {lpu_title: 'Uses', lpu_array: @tools_lpu} %>


            <div class="col-xs-1  text-center" style="height: 100%">
                <div class="break-line-2 center" style="width: 0;"></div>
            </div>

            <%= link_to 'Report', '#', class: ' report-l undecorated-link center-ver' %>

            <div class="lpu-underlabel main-font">

            </div>
        </div>


    </div>
</div>

