var commentsect = $('#search-results');
commentsect.html('<%= escape_javascript(display_results(@results).html_safe )%>');

var willpag = $('.will-pag');
willpag.html('<%= escape_javascript( will_paginate @results, :previous_label => '←', :next_label => '→', :outer_window => 1, :inner_window => 2 )%>');

$('.lpu-ul').mCustomScrollbar({
    axis:"y",
    scrollbarPosition: "outside",
    autoHideScrollbar: true,
    scrollInertia: 0,
    theme: "light-thin"
});

$('#sort-params').replaceWith('<div id="sort-params" data-lang="<%= params[:language] %>" data-plat="<%= params[:platform] %>" data-use="<%= params[:use]%>" style="display: none"></div>');

$('.mCSB_outside + .mCSB_scrollTools').css('right', '-16px');