<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-7 col-md-offset-1 search-div">

            <div class="row">
                <div class="col-xs-10" style="padding: 0">
                    <div class="alert alert-success report-success" role="alert" style="display: none">
                        Your report has been sent
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12">
                    <h2 class="title underline-alive">Devrag</h2>
                </div>
            </div>

            <%= form_tag search_path, method: 'get', id: 'ajax-search-form' do %>
                <div class="row" style="margin-top: 5px; padding-bottom: 5px">
                    <div class="col-xs-12 col-sm-4 input-div">
                        <%= text_field_tag :language, nil ,class: 'form-input sainput fill-width main-font', placeholder: 'Language', autocomplete: 'off'  %>
                        <ul class="drop-list">

                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4 input-div">
                        <%= text_field_tag :platform, nil ,class: 'form-input sainput fill-width main-font', placeholder: 'Platform', autocomplete: 'off'   %>
                        <ul class="drop-list">

                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4 input-div">
                        <%= text_field_tag :use, nil ,class: 'form-input sainput fill-width main-font', placeholder: 'Use', autocomplete: 'off'   %>
                        <ul class="drop-list">

                        </ul>
                    </div>
                </div>
            <% end %>


            <div class="row" style="margin-top: 20px; margin-bottom: -25px">
                <div class="col-xs-7 col-sm-9 will-pag">
                    <%= will_paginate @results, :previous_label => '←', :next_label => '→', :outer_window => 1, :inner_window => 2 %>
                </div>
                <div class="col-xs-5 col-sm-3 ">
                    <button id="dropdown-sortB" class="m-dropdown-button main-font text-left" data-sort="0">
                        Sort
                    </button>
                    <ul id="dropdown-sortL" class="m-dropdown text-left main-font" style="display:none">
                        <li class="m-li" data-sort="1">Name</li>
                        <li class="m-li" data-sort="2">Likes</li>
                        <li class="m-li" data-sort="3">Random</li>
                        <li class="m-li" data-sort="4">Followers</li>
                    </ul>
                    <div id="sort-params" data-lang="<%= params[:language] %>" data-plat="<%= params[:platform] %>" data-use="<%= params[:use]%>" style="display: none"></div>
                </div>
            </div>

            <div id="search-results">
                <%= display_results(@results).html_safe %>
            </div>


            <div class="row" style="margin: 40px -15px">
                <div class="col-xs-12 will-pag">
                    <%= will_paginate @results, :previous_label => '←', :next_label => '→', :outer_window => 1, :inner_window => 2 %>
                </div>
            </div>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-4" style="padding-top: 180px;">
          <div class="row">
            <div class="col-xs-12">
              <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
              <!-- ad_top -->
              <ins class="adsbygoogle"
                   style="display:block"
                   data-ad-client="ca-pub-2067437180761728"
                   data-ad-slot="4160362297"
                   data-ad-format="auto"></ins>
              <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
            </div>
          </div>

          <div class="row" style="margin-top: 250px">
            <div class="col-xs-12">
              <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
              <!-- ad_bottom -->
              <ins class="adsbygoogle"
                   style="display:block"
                   data-ad-client="ca-pub-2067437180761728"
                   data-ad-slot="7113828698"
                   data-ad-format="auto"></ins>
              <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
            </div>
          </div>

        </div>
    </div>
</div>

<div class="report-background" style="display: none">
    <div class="report-div">
        <%= image_tag 'remove_button.png', class: 'comment-add-cl-t cancel-report', style: 'margin: 5px; float: right' %>
        <div id="report-div">

        </div>
    </div>
</div>
