<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8">

            <div class="row underline-alive" style="border-width: 0px 0px 1px 0px; margin: 0">
                <div class="col-xs-9" style="padding-left: 0">
                    <%= link_to tool_path(@tool.id), class: 'undecorated-link' do %>
                        <h1 class="title" style="z-index: 1000; margin-bottom: 0;"> <%= @tool.name %> </h1>
                    <% end %>
                </div>

                <div class="col-xs-3">
                    <div class="main-font lcf-section col-overflow-x text-right" style="margin-top: 25px">
                        <%= link_to  tool_followers_path(12), class: 'followers-a' do %>
                            <%= image_tag 'followers_icon.png', style: 'height: 30px; width: 30px',id: 'followers_icon' %>
                            <%= @tool.followers.size %>
                        <% end %>
                    </div>
                </div>
            </div>

            <div id="followers-section" class="row">
                <%=  display_followers(@followers).html_safe %>
            </div>

            <div class="row" style="margin: 10px -15px">
                <div class="col-xs-12 will-pag">
                    <%= will_paginate @followers, :previous_label => '←', :next_label => '→', :outer_window => 1, :inner_window => 2 %>
                </div>
            </div>
        </div>
    </div>
</div>