<div id="header-div">
    <%= image_tag 'devrmenu.png', id: 'header-image', class: 'center' %>

    <% if true %>  <!-- if user logged in -->
        <div id="username-div">
            <h5 id="username-label" class="main-font">username</h5>
            <!-- if user has notifications-->
            <div class="notification-bubble text-center center" style="left: 125px; top: 50%">
                <h6 class="center notification-text main-font">3</h6>
            </div>
        </div>
        <!-- end if-->
    <% end %>
</div>


<div id="menu-div">
    <% if true %> <!-- if user logged in -->
        <%= link_to 'Home', '#',
                    class: 'login-button center text-left undecorated-link',
                    style: 'top: 17%;' %>

        <%= link_to 'Profile', '#',
                    class: 'login-button center text-left undecorated-link',
                    style: 'top: 33%;' %>

        <%= link_to 'Notification', '#',
                    class: 'login-button center text-left undecorated-link',
                    style: 'top: 49%;' %>

        <!-- if user has notifications -->
        <div class="notification-bubble text-center center" style="left: 80%; top: 49%;">
            <h6 class="center notification-text main-font">3</h6>
        </div>
        <!-- end if-->


        <%= link_to 'Settings', '#',
                    class: 'login-button center text-left undecorated-link',
                    style: 'top: 65%; ' %>

        <div class="break-line center" style="top: 75%"></div>

        <%= link_to 'Logout', '#',
                    class: 'login-button center text-left undecorated-link',
                    style: 'top: 85%; ' %>
    <% else %>
        <input class="form-control main-font center login-form "
               placeholder="Email" style="top: 17%">
        <input class="form-control main-font center login-form"
               placeholder="Password" style="top: 33%" , type="password">
        <%= link_to 'Forgot', '#', class: 'text-right main-font login-link' %>
        <button class="login-button center" style="top: 56%;">Login</button>
        <div class="break-line center" style="top: 68%"></div>

        <%= link_to 'Sign up', new_user_path, class: 'login-button center text-center undecorated-link', style: 'top: 85%; ' %>

    <% end %>
</div>